<div class="container">
  <div class="row"> <!-- row で列を作る -->
    <div class="col-md-8"> <!-- 12分割のグリッドシステムの8を使用 -->
    	<div class="col-md-4 col-md-offset-4">
	      <form class="navbar-form" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="ProjectSearch">
	        </div>
	      </form>
  		</div>
		<table class="table">
		  <thead>
		    <tr>
		      <th></th>
		      <th>メモ</th>
		      <th>タグ</th>
		    </tr>
		  </thead>
		  <tbody>
		      <tr>
		        <td>
					<pre class="brush:auto">
						<script>
							getwild(stert,ned);
						</script>
					</pre>

		        </td>
		        <td>DatePickerの開始と終了をセットで簡単に使用できるようにする関数</td>
		        <td><input class="btn btn-info" type="button" value="phpIndex.php">　<input class="btn btn-info" type="button" value="javascript"></td>
		      </tr>
		      <tr>
		        <td><%= link_to "http://qiita.com/kazu56/items/b37a78b67edf0ede92e3",'http://qiita.com/kazu56/items/b37a78b67edf0ede92e3'  %></td>
		        <td>Insert文を行うPHP処理の例</td>
		        <td><input class="btn btn-info" type="button" value="phpIndex.php">　<input class="btn btn-info" type="button" value="php関数"></td>
		      </tr>
		  </tbody>
		</table>
    </div>
    <div class="col-md-4"> <!-- 12分割のグリッドシステムの4を使用 -->
        <ul class="nav nav-pills nav-stacked well">
		    <li class="active"><a href="#"><span class="badge pull-right">2</span>Project1</a></li>
	  	</ul>
    </div>
  </div>
</div>
